.main {
    margin: auto;
}

.Collapsible__trigger {
    display: block;
    font-weight: bold;
    background-color: lightblue;
    padding: 10px 5px;
    border: 1px solid red;
}

.Collapsible__contentInner {
    border: 1px solid red;
    padding: 10px 5px;
}

.quizResults {
    margin-top: 40px;
}