.pageFooter {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    /* background-color: #663399; */
    /* background-color: #009aff; */
    background-color: #005165;
    border-top: solid;
    border-color: tomato;
}

.footerText {
    text-align: center;
    color: white;
    padding: 4px;
}

.fab {
    margin-left: 4px;
}

a {
    color: tomato;
}

.github:hover {
    color: white;
}
