body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.cardWidth {
    width: 25%;
}

.rebeccaP {
    background-color: #663399;
}

.waves-effect.waves-purple .waves-ripple {
    /* The alpha value allows the text and background color
    of the button to still show through. */
     background-color: #663399;
   }