.brand-logo {
    font-family: 'Indie Flower', cursive;
    margin-left: 10px;
    float: left;
    position: relative;
  
    margin-top: -60px;
}

.nav-wrapper {
    background-color: #663399;
    margin-bottom: 40px;
    border-bottom: solid;
    border-color: tomato;

}
